body {
    display: flex;
    align-items: center;
}

div {
    width: 200px;
    height: 200px;
    background-color: red;
    transition: background-color 0.5s;
    
}

div::after {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    background-color: white;
    transform: translateX(100%);
    transition: transform 3s, background-color 3s;
    
}

div:hover::after {
    transform: translateX(0);
  background-color: green;
}