body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-color: brown;
    
}

div::before {
    content: "";
    visibility: hidden;
    position: absolute;
    width: 30%;
    height: 100%;
    transition-property: all;
    transition-duration: 3s;
    transition-delay: 1000ms;
    transition-timing-function: ease-in-out;
    
}

div:hover::before {
    visibility: visible;
    width: 100%;
    background-color: blue;
}