.box {
    width: 200px;
    height: 200px;
    /* margin: 0; */
    
}

.red {
    background-color: red;
    align-items: center;
}

.green {
    background-color: green;
    align-items: center;
}

.blue {
    background-color: blue;
    align-items: center;
}
.container{
    display: flex;
    /* flex-direction: column; */
    justify-content:flex-end;
    /* gap:20px; */
    align-items: flex-end;
    height: 100vh;
    /* border: 1px solid black; */
}
